@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --pink: #bc7fb8;
  --white: #ccc7d5;
  --yellow: #e9c309;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.App {
  text-align: center;
}

/* Browser mockup code
 * Contribute: https://gist.github.com/jarthod/8719db9fef8deb937f4f
 * Live example: https://updown.io
 */

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 3em 0 0 2px #fb5, 1.5em 0 0 2px #9b3;
}

.browser-mockup.with-tab:after {
  display: block;
  position: absolute;
  content: '';
  top: -2em;
  left: 5.5em;
  width: 20%;
  height: 0em;
  border-bottom: 2em solid white;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
}

.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.browser-mockup>* {
  display: block;
}

/* Custom code for the demo */

body {
  background: linear-gradient(to right, #8e44ad, #c0392b);
  display: flex;
  letter-spacing: .08em;
}

.browser-mockup {
  width: 384px;
  height: 669px;
  background-color: var(--white);
  flex: 1 1;
  position: relative;
  z-index: 9;
  gap: 20%;
  display: flex;
  flex-direction: column;
}

.rounded-img {
  height: 200px;
  width: auto;
}

.content-page {
  padding: 30px;
}

.h1 {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 700 !important;
  line-height: 1.1 !important;
  font-size: 1.625em !important;
}

.tablet-wrapper-container {
  padding: 28px;
  display: flex;
  padding-left: 142px;
}

.muted {
  color: #757575;
}

.black-container {
  background-color: #262121;
  width: 800px;
  /* position: absolute; */
  right: 200px;
  /* align-self: center; */
  height: 638px;
  /* right: 120px; */
  align-self: center;
  -webkit-box-shadow: -3px 5px 23px -5px #000000;
  box-shadow: -3px 5px 23px -5px #000000;
}

.black-content {
  padding: 52px;
  text-align: left;
  font-family: Consolas;
  font-size: 25px;
}

.title-ide {
  color: var(--pink);
}

p.title-ide+p {
  color: #e9c309;
  place-self: flex-end;
}

.title {
  display: flex;
}

.text {
  color: #ccc7d5;
  margin-left: 9px;
  margin-top: 0px;
}

p.text+p.final {
  color: #e9c309;
  place-self: flex-end;
}

.black-tabs {
  background-color: #262121;
  height: 637px;
  align-self: center;
}

.logo-clients {
  width: 80px;
  height: auto;
  padding-top: 5px;
}

.highlight {
  color: var(--pink)
}

.Mui-selected {
  color: var(--yellow) !important;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) reverse;
  animation: slide-top 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) reverse;
}

.text.experience {
  font-size: 18px;
  padding-top:10px;
}

.see-more-arrow {
  color: var(--yellow);
  font-size: 60px;
}

.chip-hover {
  background-color: #000000;
}

.hover-yellow:hover {
  background-color: var(--yellow);
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-12 3:30:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-12 3:47:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
	        animation: slide-left 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-13 1:44:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse ;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse ;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-13 1:46:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
